
/* utility */
.margin_bm_20 {
  margin-bottom: 20px;
}

.margin_bm_30 {
  margin-bottom: 30px;
}

.margin_top_100 {
  margin-top: 100px;
}

.padding_top_80 {
  padding-top: 80px;
}

.padding_bottom_80 {
  padding-bottom: 80px;
}

.padding_left_right_70 {
  padding-left: 70px;
  padding-right: 70px;
}

.text_align {
  text-align: center;
}

.text_align_right {
  text-align: right;
}

 .border_top {
   border-top: 1px solid #E9ECEF;
 }

 .no_border {
   border: none;
 }

 .border_bottom {
   border-bottom: 1px solid #E9ECEF;
 }
/* general */
body {
  font-size: 10px;
}

h1 {
  font-size: 7em;
  text-transform: uppercase;
}

.container_50 {
  width: 50%;
  margin: auto;
}

.section_title {
  margin: 0 0 15px;
  font-size: 5em;
  font-weight: bolder;
  text-transform: uppercase;
}

#star_icon {
  margin: 15px 0 15px;
  font-size: 3em;
}

#star_icon::after,
#star_icon::before {
  content: "";
  display: inline-block;
  height: 10.5px;
  vertical-align: middle;
  width: 110px;
  border-top: 3px solid ;
  overflow: hidden;
}

#star_icon::after {
  margin-left: 15px;
}

#star_icon::before {
  margin-right: 15px;
}

/* header */
/* nav */

.header_top{
  height: 100px;
  width: 100%;
  background-color: #2B3E50;
  line-height: 100px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.header_top a {
  color: white;
  font-weight: bold;
}

.header_top .visible-md a {
  font-size: 1.6em;
  margin-right: 35px;
}

.header_top a:hover,
.header_top a:focus,
.header_top a:active {
  color: #1abc9c;
  text-decoration: none;
}

.btn_green {
  background-color: #1abc9c;
}

.btn_green .glyphicon{
  vertical-align: text-top;
}

#site_title {
  font-size: 2.5em;
}

#site_title:hover {
  color: white;
}
/* fine nav */
/* sezione banner */
.banner_section .container-fluid {
  margin-top: 100px;
  background-color: #1ABC9C;
  height: 757px;
  position: relative;
}

#banner_logo {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#banner_logo h2 {
font-weight: 400;
font-size: 2.5em;
}

#banner_logo img {
  width: 240px;
  height: auto;
}
.section_title_wrap {

  margin: 0 auto 30px;
}

/* sezione portfolio */
.background_color {
  background-color: #1ABC9C;
}

#portfolio img {
 width: 100%;
 background-size: cover;
 border-radius: 5px;
 max-width: 400px;

}

.box_product {
  margin-bottom: 30px;
  position: relative;
}

.layover {
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 400px;

}

.layover span {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 7em;

}

#portfolio .layover:hover {
  background-color: rgba(26,188,156,.9);
  cursor: pointer;
}

#portfolio .layover:hover span {
  display: block;
}

/* sezione about */

#about  {
  color: white;
}

@media screen and (min-width: 768px) {
 .wrapper_md_60 {
   width: 60%;
   margin: 0 auto;
 }
}

@media screen and (max-width: 768px) {
 .wrapper_xs_100 {
   width: 100%;
   margin: 0 auto;
 }
}

#about p {
 font-size: 2em;
 line-height: 1.5em;
}

.download_btn {
  background-color: inherit;
  color: inherit;
  padding: 15px 30px 15px;
  border: 2px solid white;
  font-size: 2em;
  line-height: 1.5em;
}

.download_btn:hover {
  border-color: white;
  background-color: white;
}

/* sezione contatti */
.width_100 {
  width: 100%;
}

input {
  font-size: 2.2em;
  width: 100%;
  line-height: 3.5em;
}

input:focus,
input:active {
  outline: none;
}

.submit_btn {
  font-size: 2.2em;
  background-color: #1abc9c;
  padding: 15px 20px;
  border: none;
}

.submit_btn:hover {
  background-color: #149A7F;
}

.btn_submit_wrap {
  padding-top: 20px;
  margin-top: 120px;
}

/* footer */

#footer_top {
  color: white;
  background-color: #2B3E50;
  /* height: 300px; */
}

#footer_top h5 {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 20px;
}

#footer_top p {
  font-size: 2em;
}

.btn_social {
    border-radius: 100%;
    width: 4.25rem;
    height: 4.25rem;
    font-size: 2.25rem;
    margin-right: 10px;
    border: 2px solid white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
  }

#start_link {
  color: #1abc9c;
}

#footer_bottom {
  height: 70px;
  width: 100%;
  background-color: #19252E;
  text-align: center;
  color: white;
  line-height: 70px;
  font-size: 1.3em;
}
