
/* utility */
.margin_bm_20 {
  margin-bottom: 20px;
}

.margin_top_100 {
  margin-top: 100px;
}


.text_align {
  text-align: center;
}

.text_align_right {
  text-align: right;
}

/* general */
body {
  font-size: 10px;
}


header [class*="col-"] {
  background-color: pink;
  border: 1px solid red;
  height: 80px;
}


/* header */
.nav{
  height: 80px;
  width: auto;
  background-color: blue;

}

.banner_section .container-fluid {
  background-color: red;
  height: 300px;
  position: relative;
}

.banner_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: yellow;
}

.section_title {
  margin: 80px 0 50px;
  font-size: 5em;
}


.portfolio img {
 width: 100%;
 background-size: cover;
 border-radius: 5px;
}

.about {
  height: 500px;
  background-color: #1ABC9C;
}

.about h2 {
  color: white;
}

.about [class*="col-"] {
  background-color: red;
  height: 100px;
  border: 1px solid white;
}
