
/* utility */
.margin_bm_20 {
  margin-bottom: 20px;
}

.margin_top_100 {
  margin-top: 100px;
}


.text_align {
  text-align: center;
}

.text_align_right {
  text-align: right;
}

/* general */
body {
  font-size: 10px;
}

h1 {
  font-size: 7em;
  text-transform: uppercase;
}

/* header [class*="col-"] {
  background-color: pink;
  border: 1px solid red;
height: 80px; */

.section_title {
  margin: 80px 0 15px;
  font-size: 5em;
  font-weight: bolder;
}

#star_icon {
  margin: 15px 0 15px;
  font-size: 3em;
}


#star_icon::after,
#star_icon::before {
  content: "";
  display: inline-block;
  height: 10.5px;
  vertical-align: middle;
  width: 110px;
  /* margin-right: -100%;
  margin-left: 60px; */
  border-top: 3px solid ;
  overflow: hidden;

}

#star_icon::after {
  margin-right: -100%;
  margin-left: 15px;
}

#star_icon::before {
  margin-left: -100%;
  margin-right: 15px;
}


/* header */
/* nav */
.header_nav{
  height: 100px;
  width: auto;
  background-color: #2B3E50;
  line-height: 100px;
  text-transform: uppercase;

}

.header_nav a {
  font-size: 1.8em;
  margin-right: 30px;
  color: white;
  font-weight: bold;
}

#site_title {
  font-size: 3em;
}

/* fine nav */
/* sezione banner */
.banner_section .container-fluid {
  background-color: #1ABC9C;
  height: 757px;
  position: relative;
}

#banner_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#banner_logo h2 {
font-weight: 400;
font-size: 2.5em;
}

#banner_logo img {
  width: 240px;
  height: auto;
}
.section_title_wrap {
  width: 30%;
  margin: 0 auto 30px;
}

/* sezione portfolio */
#portfolio {
  color: #2B3E50;
}

#portfolio img {
 width: 100%;
 background-size: cover;
 border-radius: 5px;
}

/* sezione about */
#about {
  height: 500px;
  background-color: #1ABC9C;
}

#about .section_title_wrap {
  color: white;
}

#about h3 {
text-transform: uppercase;
}

#about [class*="col-"] {
  background-color: red;
  height: 100px;
  border: 1px solid white;
}
